<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script>
window.onload = function(){
	document.getElementById("btnSubmit").onclick = function(){
		chkData();
	}
}

function chkData(){
	//alert("a");
	if(frm.code.value === "" || frm.sang.value === ""){
		alert("입력 자료를 모두 채우시오");
		return;
	}
	frm.method="post"
	frm.action="/sangpum/insertok";
	frm.submit();
}
</script>
<body>
	<h2>* 상품 추가 *</h2>
	<form name="frm">{%csrf_token%}
		<table style="width: 80%">
			<tr>
				<td>코드 :</td>
				<td><input type="text" name="code"></td>
			</tr>
			<tr>
			<td>품명 :</td>
			<td><input type="text" name="sang"></td>
			</tr>
			<tr>
			<td>수량 :</td>
			<td><input type="text" name="su"></td>
			</tr>
			<tr>
			<td>단가 :</td>
			<td><input type="text" name="dan"></td>
			</tr>

			<td colspan="2">
			<input type="button" id="btnSubmit" value="저장"></td>
			</tr>
			
		</table>
	</form>
</body>
</html>